<% include ./partials/registerheader %>

    <form class="container" align="center" action="/registration" method="POST">
        <label for="">
        <h1><%= bodyTitle %></h1>
    </label>

        <div class="form-group row mt-3">
            <label class="email-pass col-sm-6 col-md-3"> <%= courseName[0] %> </label>
            <select id="gender" class="form-control col-sm-6 col-md-3" name="course">
            <option value="gym"><%= courseName[1][0] %></option>
            <option value="aerobics"><%= courseName[1][1] %></option>
            <option value="yoga"><%= courseName[1][2] %></option>
        </select>

            <label class="email-pass col-sm-6 col-md-3"><%= shift[0] %></label>
            <select id="gender" class="form-control col-sm-6 col-md-3" name="shift">
            <option value="morning"><%= shift[1][0] %></option>
            <option value="day"><%= shift[1][1] %></option>
            <option value="evening"><%= shift[1][2] %></option>
        </select>

            <label class="email-pass col-sm-6 col-md-3"><%= package[0] %></label>
            <select id="gender" class="form-control col-sm-6 col-md-3" name="package">
            <option value="3 months"><%= package[1][0] %></option>
            <option value="6 months"><%= package[1][1] %></option>
            <option value="1  year"><%= package[1][2] %></option>
        </select>
        </div>

        <button type="submit" class="submit btn btn-primary mt-2">Register</button>
    </form>

    <% include ./partials/footer %>